//color
$white: #ffffff;
$gray: #595757;

//mixin
$xs-media: 375px;
$sm-media: 576px;
$md-media: 768px;
$lg-media: 992px;
$xl-media: 1200px;

$exhibition-mainColor: #ff1a83;
$organizeTeam-mainColor: #00cbf4;

$font-color: $gray;
