.con{
  position: relative;
  width: 100vw;
  height: max-content;
  overflow: hidden;
}
.content{
  width: 100vw;
  height: max-content;
  overflow: hidden;
}
/* 最上面液態金屬 */
.home-top{
  position: relative;
  width: 100vw;
  height: 100vh;
}
.title-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.title-img1{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 20%;
  height: auto;
}
.title-img2{
  position: absolute;
  top: 10%;
  left: 28%;
  width: 20%;
  height: auto;
}
.title-img3{
  position: absolute;
  top: 40%;
  left: 35%;
  width: 30%;
  height: auto;
}
.title-img4{
  position: absolute;
  top: 40%;
  left: 65%;
  width: 30%;
  height: auto;
}
/* 內容 */
.home-container {
  position: relative;
  width: 100vw;
  height: 2050vh;
  background-color: #fff;
  background-image: url('../../assets/home/home_back_texture.png');
  background-size: cover;
  background-repeat: repeat-y;
}
/* ############################## */
/* ############ con1 ############ */
/* ############################## */
.home-con {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* z-index: 5; */
}
/* static */
.home-blueback {
  position: absolute;
  top: 50vh;
  right: -7vw;
  width: 85vw;
  height: auto;
}
/* 每一刻的 */
.home-text00-1 {
  position: absolute;
  top: 40%;
  left: 21%;
  width: 8%;
  height: auto;
}
.home-text00-2 {
  position: absolute;
  z-index: 10;
  top: 45%;
  left: 29%;
  width: 27%;
  height: auto;
}
/* 大膽狂放文字 */
.home-text01 {
  position: absolute;
  top: 63vh;
  right: 10vw;
  width: 70vw;
  height: auto;
  transform: scale(0);
  filter: brightness(1.1);
}
.home-text01-outline {
  position: absolute;
  top: 69vh;
  right: 10vw;
  width: 35vw;
  height: auto;
  opacity: 0;
}
/* ############################## */
/* ############ con2 ############ */
/* ############################## */
.home-text {
  position: absolute;
  opacity: 0;
  z-index: 10;
}
/* 一圈圈的圓 */
.home-circle {
  position: absolute;
  left: 31%;
  top: 100%;
  width: 30%;
  height: 15%;
  border: 3px solid #ff1a83;
  border-radius: 50%;
  transform: rotateZ(-9.93deg);
  opacity: 0;
}
/* ############################## */
/* ############ con3 ############ */
/* ############################## */
/* 用力生活 */
.home-text03-1 {
  position: absolute;
  top: 40%;
  left: 19%;
  width: 8%;
  height: auto;
}
.home-text03-2,
.home-text03-3,
.home-text03-4,
.home-text03-5 {
  position: absolute;
  top: 45%;
  left: 22%;
  width: 60%;
  height: auto;
}
/* ############################## */
/* ############ con4 ############ */
/* ############################## */
/* 造就了形態的轉變 */
.home-pink-circle {
  position: absolute;
  top: -30%;
  left: 20%;
  width: 80%;
  height: 80%;
  opacity: 0.9;
}
.home-text04 {
  position: absolute;
  opacity: 1;
  z-index: 10;
  width: 8%;
  height: auto;
}
/* 意念堅持 */
.qq-line {
  position: absolute;
  top: 0%;
  left: -5%;
  width: 95%;
  height: auto;
}
.home-text05 {
  position: absolute;
  top: 50%;
  right: 20%;
  width: 50%;
  height: auto;
}
/* ############################## */
/* ############ con4 ############ */
/* ############################## */
/* 粉紅區域 執著執著 痴狂痴狂 */
.pink-back {
  position: absolute;
  top: -25%;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.8;
}
.home-text06 {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 42%;
  height: auto;
}
.home-text07 {
  transform-origin: bottom right;
  position: absolute;
  top: 85%;
  right: 5%;
  width: 30%;
  height: auto;
}
.home-text07-border {
  transform-origin: bottom right;
  position: absolute;
  top: 63%;
  right: 5%;
  width: 60%;
  height: auto;
}
.home-text07-line1 {
  transform-origin: bottom center;
  position: absolute;
  top: 23.5%;
  right: 39.1%;
  border-right: 3px solid #00cbf4;
  background-color: transparent;
  width: 1%;
  height: 52%;
}
.home-text07-line2 {
  transform-origin: center right;
  position: absolute;
  top: 99.5%;
  right: 63.5%;
  border-bottom: 3px solid #00cbf4;
  background-color: transparent;
  width: 30%;
  height: 1%;
}
.home-text07-line3 {
  transform-origin: bottom left;
  position: absolute;
  top: 107%;
  right: 4%;
  border-bottom: 3px solid #00cbf4;
  background-color: transparent;
  width: 20%;
  height: 1%;
}
/* ############################## */
/* ############ con5 ############ */
/* ############################## */
/* 無所畏懼 ＆ QQ線 */
.home-text08 {
  position: absolute;
  top: 70%;
  left: 20%;
  width: 60%;
  height: auto;
}
.qq-line-2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 95%;
  height: auto;
}
.home-text09 {
  position: absolute;
  top: 180%;
  left: 30%;
  width: 8%;
  height: auto;
}
.home-text10 {
  position: absolute;
  top: 165%;
  left: 40%;
  width: 25%;
  height: auto;
}
.home-text10-1 {
  position: absolute;
  top: 163%;
  left: 38%;
  width: 17%;
  height: auto;
}
.home-text10-2 {
  position: absolute;
  top: 162%;
  left: 50%;
  width: 17%;
  height: auto;
}
/* ############################## */
/* ############ con6 ############ */
/* ############################## */
/* 海報 */
.pink-back1 {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: auto;
}
.pink-poster {
  z-index: 5;
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 35%;
  width: 30%;
  height: auto;
}
.shake-poster {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
/* shake image */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* 很彩的背景 */
.color-back {
  position: absolute;
  left: 0;
  top: 820vh;
  z-index: 1;
  width: 100vw;
  height: 1230vh;
}
/* ############################## */
/* ############ con6 ############ */
/* ############################## */
/* 策展資訊 */
.home-text11 {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 15%;
  height: auto;
}
.home-text11-date1 {
  position: absolute;
  top: 35%;
  left: 32%;
  width: 25%;
  height: auto;
}
.home-text11-date2 {
  position: absolute;
  top: 46%;
  left: 47%;
  width: 3%;
  height: auto;
}
.home-text11-date3 {
  position: absolute;
  top: 50%;
  left: 42%;
  width: 25%;
  height: auto;
}
.home-text11-place1 {
  position: absolute;
  top: 70%;
  left: 32%;
  width: 23%;
  height: auto;
}
.home-text11-place2 {
  position: absolute;
  top: 78%;
  left: 32%;
  width: 11.5%;
  height: auto;
}
.home-text11-place3 {
  position: absolute;
  top: 78%;
  left: 43.5%;
  width: 11.5%;
  height: auto;
}
/* ############################## */
/* ############ con7 ############ */
/* ############################## */
/* 交通方式 */
.home-text12 {
  position: absolute;
  top: 10%;
  left: 42.5%;
  width: 15%;
  height: auto;
}
.home-map1 {
  position: absolute;
  top: 20%;
  left: 36%;
  width: 28%;
  height: auto;
}
.home-map2 {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;
  height: auto;
}
/* ############################## */
/* ############ con8 ############ */
/* ############################## */
/* 粉紅背景2 */
.pink-back2 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: auto;
}
.pink-back-back {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.home-light {
  position: absolute;
  top: 45%;
  left: 0vw;
  width: 70%;
  height: 34.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home-light-img {
  transform-origin: center;
  width: 100%;
  height: 100%;
}
.home-text13-1 {
  position: absolute;
  top: 50%;
  left: 17%;
  width: 32%;
  height: auto;
}
.home-text13-2 {
  position: absolute;
  top: 72%;
  left: 33%;
  width: 30%;
  height: auto;
}
.home-text13-3 {
  position: absolute;
  top: 84%;
  right: 7%;
  width: 40%;
  height: auto;
}
.home-text13-4 {
  position: absolute;
  top: 102%;
  left: 22%;
  width: 27%;
  height: auto;
}
.home-text13-5 {
  transform: rotate(-10deg);
  position: absolute;
  top: 97%;
  left: 50%;
  width: 15%;
  height: auto;
}
.home-text13-6 {
  transform: rotate(-10deg);
  position: absolute;
  top: 97%;
  left: 63%;
  width: 15%;
  height: auto;
}
.home-text13-7 {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 60%;
  height: auto;
}
/* ############################## */
/* ############ con9 ############ */
/* ############################## */
/* 注意事項 */
.home-text14-title {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 20%;
  height: auto;
}
.home-text14 {
  position: absolute;
  left: 20%;
  width: 56.7%;
  height: auto;
}
/* ############################## */
/* ############ con10 ############ */
/* ############################## */
/* 亂亂的 */
.home-text15-1 {
  transform-origin: bottom right;
  position: absolute;
  z-index: 4;
  top: 60%;
  right: 2%;
  width: 50%;
  height: auto;
}
.home-text15-2 {
  position: absolute;
  z-index: 2;
  top: 75%;
  left: -5%;
  width: 95%;
  height: auto;
  opacity: 0.4;
}
/* ############################## */
/* ############ con10 ############ */
/* ############################## */
.home-text15-3 {
  position: absolute;
  z-index: 5;
  top: 0%;
  right: -3%;
  width: 70%;
  height: auto;
}
.home-text15-4 {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 20%;
  width: 40%;
  height: auto;
}
.home-text15-5 {
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 41%;
  width: 15%;
  height: auto;
}
/* ############################## */
/* ############ con10 ############ */
/* ############################## */
.home-text15-6 {
  position: absolute;
  z-index: 1;
  top: 80%;
  left: -10%;
  width: 95%;
  height: auto;
  opacity: 0.7;
}
.home-text15-7 {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: -3%;
  width: 80%;
  height: auto;
  opacity: 0.5;
}
.home-text15-8 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 5%;
  width: 80%;
  height: auto;
  opacity: 0.1;
}
.home-text15-9 {
  position: absolute;
  right: 1vw;
  width: 10vw;
  height: auto;
}
/* ############################## */
/* ############ con10 ############ */
/* ############################## */
/* 結語 */
.home-text16-1 {
  position: absolute;
  z-index: 3;
  left: 10%;
  bottom: 50%;
  width: 45%;
  height: auto;
  opacity: 0.7;
}
.home-text16-2 {
  position: absolute;
  z-index: 3;
  right: -5%;
  bottom: 44%;
  width: 60%;
  height: auto;
  opacity: 0.5;
}
.home-text16-3 {
  position: absolute;
  z-index: 3;
  right: -3%;
  bottom: 49%;
  width: 60%;
  height: auto;
  opacity: 0.9;
}
.home-text16-4 {
  position: absolute;
  z-index: 3;
  left: 10%;
  bottom: 25%;
  width: 10%;
  height: auto;
  opacity: 0.7;
}
.home-text16-5 {
  position: absolute;
  z-index: 3;
  left: 10%;
  bottom: 20%;
  width: 23%;
  height: auto;
  opacity: 0.7;
}
.home-text16-6 {
  position: absolute;
  z-index: 3;
  left: 33%;
  bottom: 20%;
  width: 30%;
  height: auto;
}
.home-text16-7 {
  position: absolute;
  z-index: 3;
  left: 64%;
  bottom: 20%;
  width: 23%;
  height: auto;
  opacity: 0.7;
}
