.homeIntro{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FF1B83;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  animation: openAni 0.2s linear;
}
.homeIntro-left{
  margin: 2% 0 2% 2%;
  width: 66%;
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.homeIntro-right{
  margin-right: 2%;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeIntro-right img{
  width: 100%;
  height: auto;
}
.QQLine{
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 80%;
  height: auto;
  overflow: hidden;
  animation: drawQQ 3s linear;
  pointer-events: none;
}
.backIcon{
  cursor: pointer;
  margin-bottom: 25px;
  width: 5vw;
  height: auto;
}
/* 文字部分 */
.homeIntro-text{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.homeIntro-title{
  margin-bottom: 5px;
  text-align: left;
  font-size: 26px;
  font-weight: bold;
  color: #FFE600;
}
.homeIntro-con{
  margin-bottom: 35px;
  line-height: 2em;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  color: white;
}


/* keyframe */
@keyframes openAni{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes drawQQ {
  from {
    stroke-width: 0;
  }
  to {
    stroke-width: 100;
  }
}