* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  color: $font-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  width: 100vw;
  height: 100vh;
  @include md-width() {
    font-size: 18px;
  }
  @include lg-width() {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

div,
button {
  &:hover {
    a {
      text-decoration: none;
    }
  }
}

a.router-link-exact-active {
  text-decoration: none;
}

.p-absolute {
  position: absolute;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline-block;
}

.d-none {
  display: none;
}
